/********GLOBAL*********/
html {
    font-family: 'Roboto';
}

body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: #F5F5DC;
}

header {
    position: relative;
    display: flex;
    background-color: #C4C4C4;
    width: 96%;
    height: 3%;
    bottom: 0.3%;

    border-width: 2px;
    border-style: ridge;
    border-color: black;

    padding: 2%;
    margin-bottom: 1%;
}

main {
    position: relative;
    align-items: center;
    gap: 5%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 73%;
}

footer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    background-color: #C4C4C4;
    position: relative;
    height: 27%;
    width: 63%;
    padding: 1%;
}

::placeholder {
    position: absolute;
}


/******CHAT******/
.chat-screen {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 65vw;
    height: 100vh;
    border-width: 2px;
    border-style: ridge;
    border-color: black;
    background: white;
}

/***Message and buttons box***/

.message {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 94%;
    height: 16.0%;
    margin-top: 1.5%;
}

.message-content {
    position: relative;
    display: flex;
    width: 97.4%;
    height: fit-content;
    padding: 1%;
    border-width: 2px;
    border-style: ridge;
    border-color: black;
}

.message-text {
    line-break: anywhere;
    text-align: justify;
    text-justify: inter-word;
}

/**Buttons box**/
.buttons {
    position: relative;
    display: flex;
    flex-direction: row;
    align-self: flex-end;

    width: 15.7%;
    height: 26%;
}

.btn-edit {
    position: relative;
    display: flex;
    justify-content: center;

    width: 50%;

    background: #F7A75D;
    border: none;
}

.btn-delete {
    position: relative;
    display: flex;
    justify-content: center;

    width: 50%;

    background: #F75D5D;
    border: none;
}

/*Edit Form*/
.edit-message {
    position: relative;
    display: flex;

    align-self: left;
    bottom: 23%;
}

.edit-form {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 0.3%;
    width: 60%;
}

.input-edit-message {
    position: relative;
    width: 100%;
}

.btn-edit-submit {
    position: relative;
    background: #00ff00;
    border: none;
    height: 100%;
}

/***Message Input***/

.input-message {
    height: 89.0%;
    width: 80%;
    position: absolute;
}

.div-btn-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    position: relative;
    left: 84.5%;
    height: 18%;
    width: 15%;
}

.submit-form {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.btn-submit {
    background-color: #0066CC;
    border: none;
    font-family: 'Roboto';
    color: white;
    font-size: 1.0vw;
    font-weight: bold;
    width: 85%;
    height: 100%;
    border-radius: 10px;
}

.title {
    font-size: 2vmax;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 2vmax;
    text-align: center;
}

